.a1{
    color:green;
    font-style:normal;
    text-align:center;
    text-transform:lowercase;
}
.a2{
    color:blue;
    font-style:oblique;
    text-align:left;
    text-transform:uppercase;
}
.a3{
    color:red;
    font-style:italic;
    text-align: right;
    text-transform:capitalize;
}